### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Typescript
dist

## Node packages etc
node_modules/

## pnpm
pnpm-debug.log

## Logs
logs
*.log

## Env
.env

## Misc
.DS_Store
.claude
nul


.secure*

!.gitignore

configs/networks/*
!configs/networks/flare.json

deploys/*
!deploys/flare.json
!deploys/coston2.json

src/utils/data-utils.ts

# Test coverage
coverage
.nyc_output